<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>gom</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <h1>
      <div style="font-size: 60px;">
        <a href="{{ url_for("index") }}">
          <div>
          <i style="vertical-align:100%" class="icon-road"></i>
          </div>
        </a>
      </div>
    </h1>
    <hr />
    {% block content %}
    <p>Default content to be displayed</p>
    {% endblock content %}
  </body>
</html>
